body {
    max-width: 920px;
    margin: 0 auto;
}

h1 {
    margin: 15px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#topdrop {
    height: 150px;
}

html.ie8 #topdrop, html.ie7 #topdrop {
    height: auto !important;
}

ul.nav {
    clear: both;
}

#mapContainer {
    margin: 0 10px;
}

#demoControls {
    margin: 0 10px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
}

#viz-info {
    display: block;
    position: absolute;
    width: 160px;
    padding: 10px;
    margin: -380px 0 0 700px;
    background: rgba(30, 30, 30, 0.6);
    color: white;
    font: 0.8em Arial;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 100;
}

#viz-info label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#viz-info span {
    display: inline-block;
    width: 60px;
}

#viz-info span.numeric {
    text-align: right;
}

ul.tabs {
}