{% extends 'base.html' %}

{% block title %}Design Goals{% endblock %}
{% block h1%}<h1>Tile5 Design Goals</h1>{% endblock %}

{% block content %}
<p>
When the idea of building Tile5 was first conceived, 
the following were key design goals for the project:
</p>
<h3>Offer a Compelling Experience</h3>
<p>
Build and showcase a HTML5, cross-device, javascript library that offers similar <em>form and function</em> to 
a native mapping interface.  Prioritize performance and feel over feature-set.
</p>
<h3>Be Open - Create Opportunities.</h3>
<p>Be built in a way such that any <a href="/map-providers">map provider</a> with a mercator-projection 
image tile generation <em>could</em> be supported. License the technology for maximum flexibility.
</p>
<h3>Look forward, not back.</h3>
<p>
Web browsers are changing for the better.  Embrace the change and support
only browsers and devices also embracing change.  This will result in a lighter weight, better 
performing library.
</p>
<h3>Be innovative</h3>
<p>
Solve problems other just mapping related problems.  Build the library to support
building <a href="/tiling-interfaces">alternative application interfaces</a>.
</p>
<h3>Make Coffee</h3>
<p>
We're working on it ;)
</p>
</ul>
{% endblock %}