body {
 background: white;
 color: #333;
}

a, a:visited {
}

a:hover {
}

h1 {
 background: #777;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#888), to(#777));
 color: white;
 -webkit-box-shadow: #222 0 1px 2px;
 -moz-box-shadow: #222 0 1px 2px;
 box-shadow: #222 0 1px 2px;
 text-shadow: #333 0 0 2px;
}

a.button {
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
    color: white;
}

a.button:active {
    background: #333;
}

#topdrop {
    background: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ddd));
    -webkit-box-shadow: #555 0 1px 2px;
    -moz-box-shadow: #555 0 1px 2px;
    box-shadow: #555 0 1px 2px;
}

#togglenav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #bbb;
}

ul.nav li a {
    color: black;
    margin: 0px;
}

ul.nav li a:hover {
 background: #ccc;
}

pre {
    padding: 10px 15px;
    background: #e8e8e8;
    font-size: 0.85em;
}

footer {
    margin-top: 20px;
    padding: 20px 0;
}

p.excerpt {
    text-align: justify;
}

/* device support grid */

table {
  width: 96%;
  margin: 14px 2% 6px 2%;
  border-style: collapse;
  border-spacing: 3px;
  font-size: 0.85em;
  border: 1px solid #888;
}

thead th {
  border: 1px solid #888;
  width: 30px;
  padding: 5px 0 5px 0;
  background: #888;
  color: white;
  vertical-align: top;
  white-space: nowrap;
}

thead th a, thead th a:visited {
    color: white;
}

td {
  border: 1px solid #888;
  text-align: center !important;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

td.status {
    font-size: 0.8em;
}

td.yes {
    background: #abc837;
}

td.untested {
    background: #e9afaf;
}

td.developing {
    background: #dde9af;
}

td.likely {
    background: #dbe3e2;
}

td.tbd {
    background: #CCCCCC;
}

td.planned {
    background: #aaccff;
}

td.na {
    background: #e9afaf;
}

table.statuses td::after {
    content: attr(class);
    text-transform: uppercase;
    font-size: 0.8em;
}

@media screen and (min-width: 701px) {
    pre {
        margin: 10px 20px 10px 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}