{% extends 'base.html' %}

{% block title %}Demos{% endblock %}
{% block h1%}<h1>Tile5 Demos</h1>{% endblock %}

{% block content %}
<p>
We are currently working on a number of demonstration apps
for Tile5 to showcase its capabilities.  Below are two of the
demos currently being constructed:
</p>
<h2><a href="/demos/mapping/">HTML5 Mapping Demo Console</a></h2>
<p>
The HTML5 mapping demo console showcases some of the basic mapping operations
that are provided by Tile5 along with some code samples of how the console works.
</p>
<h2><a href="http://sandbox.tile5.org">HTML5 Mapping Sandbox</a></h2>
<p>
With things starting to progress here with Tile5 all demos on this site are now using 
the <a href="/download">latest stable version of the Tile5 library</a>.  To make sure we can keep 
things exciting though, we will be developing demos with bleeding edge changes 
and possibly even <a href="/community">community forks</a> in the 
<a href="http://sandbox.tile5.org/">sandbox</a>.
</p>
<h2><a href="/photogrid">Flickr Photogrid</a></h2>
<p>
The Flickr photgrid demonstrates that Tile5 is not just about mapping.  Using the 
tile based grid to search for and display flickr photos, you really can look through 
and process much more information than would be possible through a traditional display.
</p>
<h2>Have an Idea?</h2>
<p>
If you have an idea for what could be built with Tile5 and would like to see a proof
of concept, or are interested in contributing a demo then please get in touch via 
<a href="http://twitter.com/tile5js">Twitter</a> or by emailing tile5 -at- sidelab.com.
</p>
{% endblock %}