{% extends 'base.html' %}

{% block title %}Flickr Tiling Demo{% endblock %}
{% block h1 %}Flickr Tiling Demo{% endblock %}

{% block extra-includes %}
<!-- include syntax highlighting -->
<link type="text/css" rel="stylesheet" href="/media/demos/flickr/style.css?v=2"/>

<!-- include tile5 -->
<script src="/media/js/tile5/dist/tile5.lite.js?v=2"></script>

<!-- include demo console files -->
<script src="/media/demos/flickr/script.js?v=2"></script>
{% endblock %}

{% block content %}
<div id="searchbar">
	<input type="search" id="searchtext" placeholder="Search..." /><button id="runsearch">Search</button>
</div>
<div id="browser">
<canvas id="photos" width="320" height="460"></canvas>
</div>
<div id="details">
	<div id="current">
	<img />
	<div class="image-title"></div>
	</div>
</div>
{% endblock %}