<meta charset="utf-8">
{% if site.google-site-verification %}<meta name="google-site-verification" content="{{ site.google-site-verification }}" />{% endif %}
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<!--  Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="favicon.png" />
<link rel="apple-touch-icon" href="apple-touch-icon.png" />
<link rel="stylesheet" href="/css/base.css?v={{ site.time | date_to_xmlschema }}" />
<link rel="stylesheet" href="/css/themes/{{ site.theme }}.css?v={{ site.time | date_to_xmlschema }}" />
<link rel="stylesheet" href="/css/custom-style.css?v={{ site.time | date_to_xmlschema }}" />
<link rel="stylesheet" media="screen and (min-width: 701px)" href="/css/custom-style-desktop.css?v={{ site.time | date_to_xmlschema }}" />
<!--[if IE 9 ]>
<link rel="stylesheet" media="screen" href="/css/custom-style-desktop.css?v={{ site.time | date_to_xmlschema }}" />
<![endif]-->
<script src="/js/libs/modernizr-1.6.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
{% include custom-head.html %}