{% extends 'base.html' %}

{% block title %}Community{% endblock %}
{% block h1%}<h1>Get Involved with Tile5</h1>{% endblock %}

{% block content %}
<p>
There are a number of ways that you can get involved with Tile5, whether
you are interested in using Tile5 or actively contributing to Tile5.
</p>
<h2>Keep Up To Date</h2>
<p>
To keep up to date with Tile5 developments, the most effective way is through
<a href="http://twitter.com/tile5js">following Tile5 on Twitter.</a>
</p>
<h2>Developer Mailing List</h2>
<p>
If you are using or are interested in using Tile5 and have questions, then please join the 
<a href="http://groups.google.com/group/tile5/">mailing list</a> and send
your questions through there.
</p>
<h2>Fork the Source</h2>
<p>
The <a href="http://github.com/sidelab/tile5">Tile5 source</a> is hosted on Github, which 
means that it can easily be forked and modified in your own personal space.  So please feel
free to do this, and if you make some changes that you think would be useful to others
then let us know and we will look at merging those changes back in.
</p>
{% endblock %}