{% extends 'base.html' %}

{% block title %}Tile5{% endblock %}
{% block h1%}{% endblock %}

{% block content %}
<h1>An open mapping library for mobile and desktop.</h1>
<h2>Rich HTML5 maps. One codebase, many devices.</h2>
<p>
<!--<img src="/media/img/tile5-preview.png" width=309 height=236 style="float: right; padding-left: 10px;" />-->
<img src="/media/img/map-mobile-preview-thumb.png" width=150 style="float: right; padding-left: 10px;" /><img src="/media/img/map-desktop-preview-thumb.png" width=150 style="float: right; padding-left: 10px" />
Tile5 is an opensource HTML5 mapping Javascript library. It lets you use your favourite mapping platform to provide a rich web experience on both mobiles and desktops.
</p>
<h2>Why use Tile5?</h2>
<p>
Developing mapping apps to support multiple mobile devices and desktops is painful. Maintaining multiple codesets for different devices, tied to one set of mapping data, is no fun.
</p>
<p>Tile 5 offers:
	<ul>
		<li>One codebase to maintain</li>
		<li><a href="/map-providers">Multiple mapping providers</a></li>
		<li><a href="/html5-mapping" title="HTML5 Mapping">Mapping in HTML5</a> that feels like a native app</li>
		<li>Runs where HTML5 does, <a href="/device-compatibility-roadmap">on both mobile and desktop browsers</a></li>
		<li>Compatible with a <a href="/mobile-web-frameworks">variety of Mobile Web UI Frameworks</a></li>
	</ul>
</p>
<p>
In addition to providing a great API for mapping, Tile5 also excels at building more generic 
<a href="/tiling-interfaces">tiling application interfaces</a>.
</p>

<p style="text-align: center">
<a href="/demos/">Try a live demo</a>
<a href="/download">Download the code</a>
<a href="/docs/tutorials/"></a>
</p>

<!--
<h2>Documentation</h2>
<p>A first draft of the documentation is <a href="/docs/">available here</a>. Stay tuned for updates.</p>
-->
{% endblock %}
