{% extends 'base.html' %}

{% block title %}Tile5{% endblock %}
{% block h1%}{% endblock %}

{% block content %}
<p>
Tile5 is an opensource <a href="/html5-mapping" title="HTML5 Mapping">HTML5 mapping</a> javascript library that 
provides developers the ability to  <a href="/map-providers">integrate existing mapping platforms</a> to provide
a rich <a href="/about-html5">HTML5</a> experience.
</p>
<p>
In addition to providing a great API for mapping, Tile5 also excels at building more generic 
<a href="/tiling-interfaces">tiling application interfaces</a>.
</p>
<h2>Device Compatibility</h2>
<p>
Tile5 is targeted at <a href="/device-compatibility-roadmap">both mobile and desktop browsers</a> 
that support HTML5. Our long-term goal is to achieve compatibility with all mobile devices considered 
"Class A" on the <a href="http://jquerymobile.com/gbs/">jQuery Mobile GBS chart</a>, 
as well as modern desktop browsers (including IE once Microsoft get their act
together).
</p>
<p>
Tile5 also plays nice with a variety of 
<a href="/mobile-web-frameworks">Mobile Web UI Frameworks</a>.
</p>
<h2>News and Updates</h2>
<p>
To keep you up-to-date with the various changes that are going on with the library, check out
<a href="http://news.tile5.org/">our news page</a>.
</p>
<h2>Get the Source</h2>
<p>
The <a href="http://github.com/sidelab/tile5">source for Tile5</a> is maintained 
on Github, and released under the MIT license.
</p>
<!--
<h2>Documentation</h2>
<p>A first draft of the documentation is <a href="/docs/">available here</a>. Stay tuned for updates.</p>
-->
{% endblock %}