{% extends 'base.html' %}

{% block title %}Tile5{% endblock %}
{% block h1%}HTML5 Mapping{% endblock %}

{% block content %}
<p>
Tile5 is an opensource (MIT licensed) javascript library that 
provides a tile-based mapping solution designed to rival a native
mobile mapping experience.
</p>
<p><a href="demos/">Enough - Show Me Demos</a></p>
<h2>Cross Device Compatible</h2>
<p>
Our primary target was to provide a compelling experience for iPhone users, 
and we are currently working on Android support with the intention of supporting
all "Class A" rated devices (as per the <a href="http://jquerymobile.com/gbs/">jQuery Mobile GBS Chart</a>).
</p>
<p><a href="/device-support">Device Support Details</a></p>
<h2>Multiple Map Providers</h2>
<p>
Tile5 has been built from the ground-up to be a vendor neutral implementation. The cross-product 
of map providers and mobile devices is just crazy, and our goal was to make Tile5 "shine no matter what you're made of".
</p>
<p><a href="/map-providers">Supported Map Providers</a></p>
<h2>What about Desktop Browsers</h2>
<p>
Sure, if you have a nice snazzy new HTML5 browser then you should find things work.  We'll work on
putting together a compatibility chart sometime soon.
</p>
<h2>Get the Source</h2>
<p>
The source for Tile5 is maintained on Github, and released under the MIT license:
</p>
<p><a href="http://github.com/sidelab/tile5">http://github.com/sidelab/tile5</a></p>
<h2>Documentation</h2>
<p>A first draft of the documentation is <a href="/docs/">available here</a>. Stay tuned for updates.</p>
<h2>Commercial Support</h2>
<p>
Tile5 is an initiative of cross-platform mobile development firm, <a href="http://www.sidelab.com/">Sidelab</a>. If you 
would like assistance with developing a Tile5 implemented solution, please feel free 
to <a href="http://www.sidelab.com/contact">contact Sidelab</a>.  Remember though, Tile 5 is licensed under the MIT
license so you are free to use it however you please.
</p>
{% endblock %}