{% extends 'base.html' %}

{% block title %}Map Providers{% endblock %}
{% block h1%}<h1>Map Providers</h1>{% endblock %}

{% block extra-includes %}
<script>
$(".yes").html("Y").addClass("status");
$(".planned").html("P").addClass("status");
$(".investigate").html("TBD").addClass("status");
$(".na").addClass("status");
</script>
{% endblock %}

{% block content %}
<table>
<thead>
	<tr>
	<th>Provider</th>
	<th>Map Tiles</th>
	<th>Geocode</th>
	<th>Routing</th>
	</tr>
</thead>
<tr>
	<td><a href="http://maps.bing.com/">Bing</a></td>
	<td class="yes"></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
<tr>
	<td><a href="http://cloudmade.com/">Cloudmade</a></td>
	<td class="yes"></td>
	<td class="planned"></td>
	<td class="planned"></td>
</tr>
<tr>
	<td><a href="http://decarta.com/">deCarta</a></td>
	<td class="yes"></td>
	<td class="yes"></td>
	<td class="yes"></td>
</tr>
<tr>
	<td><a href="http://www.esri.com/software/mapping_for_everyone/api/index.html">esri</a></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
<tr>
	<td><a href="http://developer.mapquest.com/">Mapquest</a></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
<tr>
	<td><a href="http://maps.google.com/">Google</a></td>
	<td class="na"><a href="http://code.google.com/p/gmaps-api-issues/issues/detail?id=1396">N/A</a></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
<tr>
	<td><a href="http://www.nn4d.com/site/global/home/p_home.jsp">Navteq</a></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
<tr>
	<td><a href="http://nearmap.com/">nearmap</a></td>
	<td class="yes"></td>
	<td class="na">Tiles Only</td>
	<td class="na">Tiles Only</td>
</tr>
<tr>
	<td><a href="http://openstreetmap.org/">OSM</a></td>
	<td class="yes"></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
<tr>
	<td><a href="http://maps.ovi.com/">Ovi (Nokia)</a></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
<tr>
	<td><a href="http://developer.yahoo.com/maps/">Yahoo</a></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
	<td class="investigate"></td>
</tr>
</table>
<p>
The table above lists the status of the various operations that 
are supported in Tile5 and their implementation status in the library
for a particular map provider.
</p>
<p>
The ability to display annotations is core to the library so once tiles
for a particular provider can be displayed, annotations are implemented 
as well.
</p>
<h2>Other Map Providers</h2>
<p>
<a href="http://www.sidelab.com/">Sidelab</a> are always happy to investigate implementing 
additional map providers based on client needs or provider sponsorship.  Tile5 has been
built from the ground up to support this so in general, this can be done with relative ease.
</p>
<p>
<em><strong>NOTE:</strong> While Tile5 allows you to mix and match provider functions, be 
aware that this may violate the provider terms of service.</em>
</p>
<h2><a name="requiredjs">Required Javascript Includes</a></h2>
<p>
The table below lists the required include files that are needed to implement
mapping for a particular mapping provider.  While the table include links to each
of the provider files in the master branch of the 
<a href="http://github.com/sidelab/tile5">source</a> it is probably more advisable to use
the versions distributed with the <a href="/download">downloads.</a>
</p>
<table>
<thead>
	<tr>
	<th>Provider</th>
	<th>Required Includes</th>
	</tr>
</thead>
<tr>
	<td>deCarta</td>
	<td><a href="http://github.com/sidelab/tile5/blob/master/dist/tile5.decarta.js">tile5.decarta.js</a></td>
</tr>
<tr>
	<td>Cloudmade</td>
	<td>
		<a href="http://github.com/sidelab/tile5/blob/master/dist/tile5.osm.js">tile5.osm.js</a>
		<a href="http://github.com/sidelab/tile5/blob/master/dist/tile5.cloudmade.js">tile5.cloudmade.js</a>
	</td>
</tr>
<tr>
	<td>Bing</td>
	<td><a href="http://github.com/sidelab/tile5/blob/master/dist/tile5.bing.js">tile5.bing.js</a></td>
</tr>
<tr>
	<td>Nearmap</td>
	<td>
		<a href="http://github.com/sidelab/tile5/blob/master/dist/tile5.osm.js">tile5.osm.js</a>
		<a href="http://github.com/sidelab/tile5/blob/master/dist/tile5.nearmap.js">tile5.nearmap.js</a>
	</td>
</tr>
</table>
{% endblock %}