{% extends 'base.html' %}

{% block title %}Mobile Web UI Frameworks{% endblock %}
{% block h1%}<h1>Mobile Web UI Frameworks</h1>{% endblock %}

{% block extra-includes %}
<script>
$(".yes").html("YES").addClass("status");
$(".untested").html("UNTESTED").addClass("status");
$(".inprogress").html("IN PROGRESS").addClass("status");
$(".investigate").html("TBD").addClass("status");
$(".planned").html("PLANNED").addClass("status");
$(".likely").html("LIKELY").addClass("status");
</script>
{% endblock %}

{% block content %}
<p>
Tile5 does not seek to be a UI framework that you use to build your application with, but
rather a HTML5 javascript framework that does one thing particularly well.  For this reason, 
Tile5 is built to play nicely with other mobile web UI frameworks and our support and integration 
testing roadmap is shown below:
</p>
<table id="mobile-frameworks">
<thead>
	<tr>
	<th>Framework</th>
	<th>Support</th>
	<th>Demo URL</th>
	</tr>
</thead>
<!-- jQTouch -->
<tr>
	<td><a href="http://jqtouch.com/">jQTouch</a></td>
	<td class="yes"></td>
	<td></td>
</tr>
<!-- jQuery Mobile -->
<tr>
	<td><a href="http://jquerymobile.com/">jQuery Mobile</a></td>
	<td class="planned"></td>
	<td></td>
</tr>
<!-- Sencha Touch -->
<tr>
	<td><a href="http://sencha.com/touch/">Sencha Touch</a></td>
	<td class="inprogress"></td>
	<td></td>
</tr>
<!-- iUI -->
<tr>
	<td><a href="http://sproutcore.com/">SproutCore</a></td>
	<td class="planned"></td>
	<td></td>
</tr>
<!-- jo -->
<tr>
	<td><a href="http://joapp.com/">jo</a></td>
	<td class="inprogress"></td>
	<td></td>
</tr>
<!-- iUI -->
<tr>
	<td><a href="http://code.google.com/p/iui/">iUI</a></td>
	<td class="planned"></td>
	<td></td>
</tr>
</table>
<p>
Know of a super-awesome mobile web UI framework that we don't have on the list
and should support?  Well then 
<a href="http://twitter.com/?status=Hey%20%40tile5js%2C%20you%20should%20add%20support%20for%3A%20">let us know</a>.
{% endblock %}