{% extends 'demos_v2.html' %}

{% block title %}Tile5 Photogrid{% endblock %}
{% block h1 %}{% endblock %}

{% block extra-styles %}
<link type="text/css" rel="stylesheet" href="/media/demos/photogrid/style.css?v=5"/>
<link type="text/css" rel="stylesheet" href="/media/colorbox/colorbox.css?v=1"/>
{% endblock %}

{% block extra-includes %}
<!-- include lawnchair -->
<!-- 
<script src="/media/js/lawnchair/adaptors/LawnchairAdaptorHelpers.js"></script>
<script src="/media/js/lawnchair/adaptors/WebkitSQLiteAdaptor.js"></script>
<script src="/media/js/lawnchair/adaptors/DOMStorageAdaptor.js"></script>
<script src="/media/js/lawnchair/Lawnchair.js"></script>
-->

<!-- include shadow box -->
<script src="/media/colorbox/jquery.colorbox-min.js?v=1"></script>

<!-- include tile5 -->
<script src="/media/js/tile5/tile5.lite.min.js?v=16"></script>

<!-- include demo console files -->
<script src="/media/demos/photogrid/script.js?v=6"></script>
<script src="/media/demos/photogrid/plugins.js?v=6"></script>
{% endblock %}

{% block content %}
<ul id="topmenu">
	<!-- <li><a id="search" href="#search">Search</a></li> -->
	<!--
	<li><a id="load" href="#load">Load Faves</a><li>
	<li><a id="fav" disabled="disabled" class="add" href="#fav">Favorite</a></li>
	-->
</ul>
<canvas id="photos" width="200" height="300"></canvas>
<div id="searchbox">
	<input type="text" id="searchtext" placeholder="Search for..." />
	<label>search for</label>
</div>
<div id="status"></div>
<!--
<div id="details">
	<div id="current">
		<a id="image-url" href="#" title="" target="_blank"><img /></a>
	</div>
	<div id="options">
		<h2>Photogrid Search Options</h2>
		<div class="fields">
			<input type="checkbox" id="is_commons" />
			<label for="is_commons">Commons Project</label><br />
			
			<input type="checkbox" id="is_getty" />
			<label for="is_gety">Getty Images</label>
		</div>
		<div class="actions">
		<button id="options-save" style="width: 100px;">Save</button>
		<button id="options-cancel"style="width: 100px;">Cancel</button>
		</div>
	</div>
</div>
-->
{% endblock %}