{% extends 'base.html' %}

{% block title %}Tile5 Sitemap{% endblock %}
{% block h1%}{% endblock %}

{% block content %}
<h1>Sitemap</h1>

<a href="/">Home</a><br/>
<a href="http://news.tile5.org/">News</a><br/>

<h2>About Tile5</h2>

<p>
	<a href="/map-providers">Map providers</a><br/>
	<a href="/html5-mapping">HTML5 mapping</a><br/>
	<a href="/tiling-interfaces">Tiling application interfaces</a><br/>
	<a href="/device-compatibility-roadmap">Device compatibility roadmap</a><br/>
	<a href="/mobile-web-frameworks">Mobile web frameworks supported</a><br/>
</p>

<h2>Getting started</h2>

<p>
	<a href="/download">Download</a><br/>
	<a href="/docs/">Docs</a><br/>
	<a href="/docs/tutorials/">Tutorials</a><br/>
	<a href="/docs/api">API</a><br/>
	<a href="/demos/">Demos</a><br/>
</p>

<h2>Getting help and helping out</h2>

<p>
	<a href="/support">Support</a><br/>
	<a href="http://groups.google.com/group/tile5/">Mailing list</a><br/>
	<a href="http://github.com/sidelab/tile5/issues">Issue tracker @ Github</a><br/>
	<a href="https://fundry.com/project/25-tile5">Request a feature</a><br/>
	<a href="/community">Get involved</a><br/>
</p>

{% endblock %}
