{% extends 'base.html' %}

{% block title %}Tiling Application Interfaces{% endblock %}
{% block h1%}<h1>Tiling Application Interfaces</h1>{% endblock %}

{% block content %}
<p>
When you look at any online "draggable" map, what are you seeing?  Essentially, a series of images 
arranged in a grid providing you the ability to scroll in either direction to explore your world.
This is an excellent method in which to explore the vast amount of data that is available for 
something such as a map.
</p>
<p>
The only question is, why do we only use this style of visual exploration only for mapping data. One
of the early <a href="/design-goals/">design goals</a> of Tile5 was to produce a HTML5 javascript library
that not only provided an excellent mapping implementation, but to also use the same technology 
and core principles to build interfaces for exploring other kinds of visual data.
</p>
<p>
For just one example of such an interface, have a look at our <a href="/photogrid">Flickr Photogrid Demo</a>, 
and hopefully you will agree it's quite effective at searching through the millions of photos that 
<a href="http://flickr.com/">Flickr</a> now stores.
</p>
{% endblock %}