{% extends 'base.html' %}

{% block title %}Tile5 TweetGrid{% endblock %}
{% block h1 %}Tile5 TweetGrid{% endblock %}

{% block extra-includes %}
<!-- include syntax highlighting -->
<script src="http://platform.twitter.com/anywhere.js?id=0RkzT5JjG9Uehj7tbKLkoQ&amp;v=1"></script>
<link type="text/css" rel="stylesheet" href="/media/demos/tweetgrid/style.css?v=1"/>

<!-- include tile5 -->
<script src="/media/js/tile5/dist/tile5.lite.js?v=2"></script>

<!-- include demo console files -->
<script src="/media/demos/tweetgrid/script.js?v=2"></script>
{% endblock %}

{% block content %}
<div id="toolbar">
	<div id="login"></div>
</div>
<canvas id="usergrid" width="500" height="360">
{% endblock %}