<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{{ title|default:""}}{% endblock %} | Sidelab - Location, Mobility, Scalability</title>
	<meta name="author" content="Damon Oehlman" />
	<meta name="google-site-verification" content="6Pum0BpftOxAVh3vHi9N3BLW97yWzt5eB9tgjeXAH-I" />
	<!-- Date: 2010-01-14 -->
	<link rel="stylesheet" href="/media/bluetrip/css/screen.css" media="screen, projection" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="/media/bluetrip/css/ie.css" media="screen, projection" />
	<![endif]-->
	<link rel="stylesheet" href="/media/bluetrip/css/print.css" media="print" />
	<link rel="stylesheet" href="/media/css/style.css" media="screen, projection" />
	<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/media/js/tile5.js"></script>
	{% block extra-includes %}
	{% endblock %}
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try{
	var pageTracker = _gat._getTracker("UA-8447893-6");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>
</head>
<body>
<div id="header-wrapper">
<div id="header" class="container">
	<div class="span-15">
		<a id="logo" href="/"><img src="/media/img/sidelab-logo.png" alt="Sidelab" /></a>
		<ul id="navmenu">
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/contact-us">Contact Us</a></li>
		</ul>
		<h1>{% block h1 %}{{ heading|default:"Sidelab" }}{% endblock %}</h1>
	</div>
	<div class="span-9 last">
		<a href="/"><img src="/media/img/sidelab-headline.png" alt="Sidelab" /></a>
	</div>
</div>
</div>
<div id="main" class="container">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>