<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">

  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!--[if IE]><![endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{{ title|default:""}}{% endblock %} | Tile5 - HTML5 Mapping and Tiling</title>
  <meta name="description" content="HTML5 Mobile Optimized Mapping and Tiling Library.  Available under the MIT opensource license.">
  <meta name="author" content="Damon Oehlman">
  <meta name="google-site-verification" content="TQKLiOHEgndgtpmDLSr7_Olj7b51CLLH1mPHUW3VeMA" />
  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
  device-width : Occupy full width of the screen in its current orientation
  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
  maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
  -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">


  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/media/img/favicon.ico">
  <link rel="apple-touch-icon" href="/media/img/t5-touch.png">

  {% block extra-meta %}
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-startup-image" href="/media/img/tile5-splash.png" />
  {% endblock %}


  <!-- CSS : implied media="all" -->
  <!--  <link href='http://fonts.googleapis.com/css?family=Cantarell:regular,bold' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="/media/css/style.css?v=11">
  {% block extra-styles %}{% endblock %}

  <!-- For the less-enabled mobile browsers like Opera Mini -->
  <link rel="stylesheet" media="handheld" href="/media/css/handheld.css?v=1">

 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/media/js/modernizr-1.5.min.js"></script>

</head>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

	<header>
		<a href="/">Home</a>
		<a href="http://news.tile5.org">News</a>
		<a href="/demos/">Live demo</a>
		<a href="/docs/">Docs</a>
		<a href="/support">Support</a>
		<a href="/download">Download</a>
	</header>
   <div id="main">
	{% block h1 %}{% endblock %}
	{% block content %}{% endblock %}
	<a class='twitter-link' href="/community">Tile5 Community</a>
	<a class='twitter-link' href="http://twitter.com/tile5js">Follow Tile5 on Twitter</a>
	<a class='twitter-link' href="https://fundry.com/project/25-tile5">Suggest a Feature</a>
   </div>
    <a id="forkme" href="http://github.com/sidelab/tile5">
	<img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
	</a>
	<footer>
		<script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/recommendproduct" data-company="930955" data-product="21909"data-counter="right"></script>
		<a href="http://www.sidelab.com/"><img src="/media/img/sidelab-logo.png" alt="Sidelab - Location, Mobility, Scalability" /></a>
		<p>
		Tile5 is an initiative of cross-platform mobile development firm, <a href="http://www.sidelab.com/">Sidelab</a>. If you 
		would like assistance with developing a solution, please feel free 
		to <a href="http://www.sidelab.com/contact">contact Sidelab</a>.  
		Tile5 is licensed under the MIT license, though, so you are free to use it 
		however you please.
		</p>
	</footer>
   
  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/media/js/jquery-1.4.2.min.js"><\/script>');</script>
  <script src="/media/js/jquery.tools.min.js"></script>
  <script src="/media/js/tile5.site.js"></script>


  <!--[if lt IE 7 ]>
    <script src="/media/js/dd_belatedpng.js?v=1"></script>
  <![endif]-->

   {% block extra-includes %}
   {% endblock %}
  <script>
   if (location.host.indexOf('tile5.org') >= 0) {
	   var _gaq = [['_setAccount', 'UA-8447893-8'], ['_trackPageview']];
	   (function(d, t) {
	    var g = d.createElement(t),
	        s = d.getElementsByTagName(t)[0];
	    g.async = true;
	    g.src = '//www.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g, s);
	   })(document, 'script');
   } // if
  </script>
  <script type="text/javascript" src="//static.woopra.com/js/woopra.v2.js"></script>
  <script type="text/javascript">
  if (location.host.indexOf('tile5.org') >= 0) {
	  woopraTracker.setDomain("tile5.org");
	  woopraTracker.track();
  } // if
  </script>
</body>
</html>
