{% extends 'headerless.html' %}

{% block title %}Image Test{% endblock %}
{% block h1 %}Image Test{% endblock %}

{% block content %}
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAJOgAACToB8GSSSgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHSSURBVCiRZdE7a1RRFAXgdR/n7H0GMxMzOkFh2hSBNBaSQhQbIQqigg+wsFUkjYLgX0is/AepU6UxWCRFBB+IzpjRCCag5CYjec3Mned9nHOPRUgQsmF131rNdqy1AIB5wOsB4sO7ytmNX8HVJE4xVMgtvXk4VQdwiAA41lrMA3J58etYsL876zjulcxmKooTpMYOjDVLkTHPvjy9uw4Azut1S7+3foxv7u4sjAzlyznFSLVGo9tDexDDALCZDTqd9o33j2/X/MIoTtW/7c2WhofLpTMjEJ6Hdm+AbqohtIXvuhBEZUH0amJmbsqvVtfGsgyXSUoADgZxim6cIDEZPCHgSgEiRj5fuBY2m5f8jT/BRetAhL0+Iq2RGIt+qpFaB76UkEwgVmBmFEulC/5Bt6N9XyBz2pBSwvE8wBeQRJB0iIkZzAxJRG5f6xVtoCOTIbGAdQWEJBAxmBWYFRQrSEkIG41VtzL9oAYXK8eLisFKnUir2ajUt4JlFwCMMc89zzs4CXNgpZCmSW872HxZe/EodgHg45M71U47vBkNok/EDPVfqbG/t/rze+3+wq3Jt8efPrqJmTk5eu789dPF4riU5IWt1trO3+3Fz9P3+kfmHwkBza5iuI9BAAAAAElFTkSuQmCC" />
{% endblock %}