/*
File:	style.css
This file is used to define the styles for the sidelab corporate site

Section:	Version History
15/01/2009 (DJO) - Created File
*/

body {
    background: #CCCCCC url(../img/page_bg.png) repeat-x;
    margin: 0px;
    font-family: Georgia, Serif;
}

#background {
    background: white url(../img/sidelab_background_1.jpg) 0px 25px no-repeat;
}

/* navbar / header styles */

#navbar {
    background: white url(../img/header_bg.png) repeat-x;
    height: 80px;
}

#navbar .logo {
    border: 0px;
    margin: 14px 0px 0px 20px;
    float: left;
}

ul#navmenu {
    float: left;
    margin: 14px 0px;
    font-size: 1.2em;
    list-style-type: none;
}

ul#navmenu li {
    float: left;
    margin: 10px 20px 0px 0px;
    padding: 0px;
}

ul#navmenu li a {
    color: #DDDDDD;
    text-decoration: none;
}

ul#navmenu li a:hover {
    text-decoration: underline;
}

/* content styles */

div#content {
    background: white;
    margin: 260px 0px 0px 0px;
}

div#content h2 {
    float: left;
    margin: 10px 15px 4px 2px;
    font-size: 1.6em;
}

div#content p {
    text-align: justify;
}